<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Open chat | Login</title>
    </head>
    <body bgcolor="#8cb4f0">
        <h1 style="text-align: center;">Login</h1>

        <form method="POST" action="/login" style="text-align: center;">
            <label for="username">
                User name
            </label>
            <input type="text" id="username" name="username">
            <br> <br>
            <label for="password">
                Password 
            </label>
            <input type="password" name="password">
            <br><br>
            <button type="submit">
                Login
            </button>
        </form>

        <h2 style="color: crimson; text-align: center;">
            {% if error %}
                {{ error }}
            {% endif %}
        </h2>

        <h3 style="color: rgb(15, 106, 217); text-align: center;">
            Don't have an account? <br><a href="/">Signup</a>
         </h3>

    </body>
</html>